<footer *ngIf="NavBarService.visible" class="page-footer font-small bg-light pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3 centerT">
          <h5 class="text-uppercase">Prueba técnica</h5>
          <p class="marginT">Prueba desarrollada para Spira</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3 centerT">
          <h5 class="text-uppercase">Hecho por</h5>
          <ul class="list-unstyled">
            <li>
              <a target="_blank" class="footer-brand displayCenter" href="https://www.linkedin.com/in/laura---sarmiento/"><img src="../../assets/linkedIn.png" height="30px"><h5>&nbsp;&nbsp;&nbsp; Laura Sarmiento</h5></a>
              
            </li>
            <li>
          </ul>
        </div>
      </div>
    </div>
  </footer>