    <nav *ngIf="NavBarService.visible" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logoNav" (click)="logout();"><img src="../../assets/Logo.png" height="80px"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a *ngIf="isAdministrator" class="nav-item nav-link active" href="#">Administrador<span class="sr-only">(current)</span></a>
            <a *ngIf="isStudent" class="nav-item nav-link active" href="#">Mis cursos</a>
          </div>
        </div> -->
      </nav>