.login{
    background-image: url('../../../assets/BGLogin.jpg');opacity: 1;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 60vh;
    display: flex;
}
.btnCenter{
    margin-left: auto;
    margin-right: auto;
}
.loginCard{
    padding: 3% 15%;
    margin: auto;
}

.loginbtn{
    width: 100%;
    background-color: #e30612;
    color: white;
    border: 1px solid #e30612;
}

.alert{
    background-color: white;
    color: #e30612;
    border: 1px solid #e30612;
}

.fas{
    color: #e30612;
}